###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> IDE ###
/.idea/
/.vscode/
*.swp
*.swo
###< IDE ###

###> OS ###
.DS_Store
Thumbs.db
###< OS ###

###> Docker ###
/docker/mysql/data/
/docker/postgres/data/
###< Docker ###

/tmp

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
